services:
  twicas:
    build:
      context: ./containers/puppeteer
    image: twicas:latest
    container_name: twicas
    hostname: twicas
    ports:
      - "18080:18080"

  flask:
    build:
      context: ./containers/flask
    image: flask:latest
    container_name: flask
    hostname: flask
    tty: true
    entrypoint: bash

  ffmpeg:
    build:
      context: ./containers/ffmpeg
    image: ffmpeg:latest
    container_name: ffmpeg
    hostname: ffmpeg
    volumes:
      - ./containers/ffmpeg/data:/data
    tty: true
    entrypoint: bash

networks:
  default:
    name: twicas
